ul {color: gray; display: table; margin:auto;
}

li {color: green;}

body {background-image: url ("http://i63.tinypic.com/w8qfjq.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-color:#999;
}

#greeting {color:black;
text-align:center;}

#heading {text-align: center;
}
.table

ul, li{
    list-style:none;
    list-style-type:none; }

.line-through {text-decoration: line-through;
}
